:root {
    --darkBlue: hsl(240, 38%, 20%);
    --grayishBlue: hsl(240, 18%, 77%);
}

#text1,
#text2,
#text3 {
    margin: 0;
}

#fotoa {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    padding: 0;
    margin: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plantilla {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 70%;
    background-color: white;
    background-image: url(../../static/img/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 400px;
}

.card {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.contenido {
    width: 105%;
    padding-left: 2.5em;
    background-image: url(../../static/img/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80px;
    background-position-x: 150px;
    z-index: 5;
}

.texto {
    padding-top: 2.5em;
    margin: 0;
    font-size: .6em;
    color: var(--darkBlue);
    font-weight: lighter;
}

.nombre {
    display: inline-block;
    font-size: .4em;
    font-weight: bold;
    color: var(--darkBlue);
}

.puesto {
    display: inline-block;
    font-size: .4em;
    color: var(--grayishBlue);
}

.imagen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    width: 100%;
    height: 100%;
}

.foto {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 70%;
    box-shadow: 7px 15px 6px 0px rgba(100, 100, 100, 0.37);
}

.botones {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 80px;
    z-index: 10;
    background-color: white;
    width: 50px;
    height: 30px;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px;
    border-radius: 20px;
}

.flecha {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.bizq {
    width: 20px;
    border: 0;
    background-color: white;
    background-image: url(../../static/img/icon-prev.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center center;
    //  &:hover {
    //   background-color: red;
    //  }
    outline: none;
}

.bder {
    width: 20px;
    border: 0;
    background-color: white;
    background-image: url(../../static/img/icon-next.svg);
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: center center;
    //  &:hover {
    //  background-color: red;
    // }
    outline: none;
}

@media screen and (max-width: 768px) {
    .plantilla {
        width: 90%;
        height: 100%;
    }
    .card {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .imagen {
        grid-row-start: 1;
    }
    .botones {
        bottom: 32px;
        left: 130px;
    }
    .contenido {
        width: 100%;
        height: 100%;
        text-align: center;
        background-position-x: center;
        background-position-y: 50px;
        background-size: 60px;
        justify-content: center;
        padding-left: 0;
    }
    .texto {
        text-align: center;
        padding: 1em;
    }
    .nombre {
        margin: 0;
        padding-top: 1em;
        display: block;
    }
    .puesto {
        margin: 0;
        padding: 0;
    }
}